/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

@font-face {
  font-family: AvenirNextCyr-Demi;
  src: local(avenirnext-demibold),
    url('/assets/fonts/AvenirNextCyr-Demi.woff2') format("woff2"),
    url('/assets/fonts/AvenirNextCyr-Demi.woff') format("woff"),
    url('/assets/fonts/AvenirNextCyr-Demi.ttf') format("truetype");
  font-style: normal;
  font-stretch: normal;
}


//landing
body {
  overflow: hidden;
  font-family: AvenirNextCyr-Demi;
}

.main_title {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 100;
  color: #fff;
}

.main_slider {
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: 100vh;
  transition: all 1s ease;
  position: relative;
}

.main_screen {
  width: 100%;
  height: 100%;

  &._second,
  &._third {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  &._second {
    background-image: url('/assets/img/main2-bg.jpg');
  }

  &._third {
    background-image: url('/assets/img/main3-bg.jpg');
  }
}



.navigation_dots {
  width: 40px;
  height: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  right: 20px;
  top: 50%;
  transform: translate(50%);

  .navigation_dot {
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
    border: 1px solid #333;
    cursor: pointer;

    &:hover {
      width: 10px;
      height: 10px;
    }

    &:checked {
      width: 15px;
      height: 15px;
    }
  }
}

.bg-mask {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #333;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  &.active {
    z-index: 9999;
  }
}

//splide slider styles 
.splide__slide {

  &._slide1,
  &._slide2,
  &._slide3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

  &._slide1 {
    background-image: url('/assets/img/slide-1.jpg');
  }

  &._slide2 {
    background-image: url('/assets/img/slide-2.jpg');

    .slide_title_section {
      position: relative;
      z-index: 100;

      .slide_text {
        font-size: 18px;
      }
    }
  }

  &._slide3 {
    background-image: url('/assets/img/slide-3.jpg');
    position: relative;

    .slide_title_section {
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      text-align: center;

      .slide_title {
        font-size: 60px;
      }

      .slide_text {
        font-size: 30px;
      }
    }
  }
}

.splide__arrow {
  background: none !important;
  height: 50px;
  width: 50px;

  svg {
    fill: #fff;
    height: 50px;
    width: 50px;
  }
}

.slide_title_section {
  margin-top: 5%;
  margin-left: 10%;
  color: #fff;
  max-width: 600px;

  .slide_title {
    font-size: 42px;
    margin-bottom: 30px;
  }

  .slide_text {
    font-size: 24px;
  }
}


//main 2
.roadmap {
  display: flex;
  width: 100%;
  top: 45%;
  transform: translateY(-50%);
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 100;

  .roadmap_item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #2a52be;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 100;
    position: relative;

    span {
      z-index: 1000;
    }

    .line_section {
      height: 4px;
      position: absolute;
      width: 0;
    }

    .line {
      height: 4px;
      background-color: #2a52be;
      max-height: 0;
      width: 100%;
      transition: all 1s ease;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      border: 2px solid #3D64FF;
      left: -20px;
      opacity: 0;
      right: -20px;
      top: -20px;
      bottom: -20px;
      border-radius: 50%;
    }

    &::after {
      animation-delay: 1.25s;
    }

    &.active::after,
    &.active::before {
      animation: pulse 2.5s linear infinite;
    }
  }

}

@keyframes pulse {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

//main3 

.feedback_form {
  z-index: 1000;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 50px auto;
  position: relative;
  max-width: 400px;

  .form_wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  .form_submit {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #fff;
    color: #ff2400;
    border: 1px solid #ff2400;
    margin: 0 auto;
    width: 150px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:disabled {
      background-color: #808080;
      color: #fff;

      &:hover {
        background-color: #808080;
        color: #fff;
      }
    }

    &:hover {
      background-color: #ff2400;
      color: #fff;
    }
  }

  .form_field {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    .form_label {
      width: 100%;
      font-size: 18px;
    }

    .form_input {
      background: #fff;
      border: 3px solid #333;
      width: 100%;
      height: 30px;

      &::placeholder {
        color: #808080;
      }

      &._area {
        height: 100px;
      }
    }
  }

}

.success_modal {
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 100000;

  &.active {
    display: flex;
  }

  img {
    width: 70px;
    margin: 20px 0;
  }

  p {
    font-size: 18px;
  }

  .close_modal_button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      display: block;
      width: 2px;
      height: 25px;
      background-color: #333;
      position: absolute;
      top: 0;
    }

    &::after {
      transform: rotate(45deg);
      right: 42%;
    }

    &::before {
      transform: rotate(-45deg);
      left: 50%;
    }
  }
}


@media screen and (max-width: 800px) {
  .main_title {
    padding: 10px 20px;
  }
  .feedback_form {
    max-width: 90%;
  }
  .roadmap {
    flex-direction: column;
    width: 100%;
    height: 87%;
    top: 41%;

    .roadmap_item {
      width: 100px;
      height: 100px;

      span {
        font-size: 12px;
      }


      .line_section {
        width: 4px;
        max-height: initial;
        height: 0;
      }

      .line {
        max-width: initial;
        width: 4px;
        height: 100%;
      }
    }
  }
}